<main class="converter-container">
  <header>
    <h1>Image to Text Converter</h1>
    <p>Upload JPEG or PNG image (max 2MB) to extract text.</p>
  </header>

  <section class="upload-section">

    <input type="file" accept="image/jpeg, image/png" id="fileUpload" (change)="onFileSelected($event)"/>
    <label for="fileUpload" class="upload-button">Select Image</label>
    <p class="error-text" *ngIf="errorMessage"> {{errorMessage}} </p>
  </section>

  <section class="preview-section">
    <div class="image-placeholder" *ngIf="!selectedImage">No image selected</div>
    
    <div *ngIf="selectedImage" class="preview-container">
      <img [src]="selectedImage" alt="Preview" class="image-preview" />
      
      <!-- New Extract Button -->
      <button class="extract-button" (click)="extractText()" [disabled]="isLoading">
        {{ isLoading ? 'Extracting Text...' : 'Extract Text' }}
      </button>
    </div>
  </section>

  <section class="result-section">
    
    <textarea readonly placeholder="Extracted text will appear here..." [value]="extractedText"></textarea>
    
   
    <button class="copy-button" (click)="copyToClipboard()" [disabled]="!extractedText">
      Copy to Clipboard
    </button>
  </section>
</main>